<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Easynfe - NF-e. 
 *
 * @title      Magento Easynfe NF-e
 * @category   General
 * @package    Easynfe_Nfe
 * @author     Indexa Development Team <desenvolvimento@indexainternet.com.br>
 * @copyright  Copyright (c) 2011 Indexa - http://www.indexainternet.com.br
 */
 -->
<config>
    <modules>
        <Easynfe_Nfe>
            <version>0.1.0</version>
        </Easynfe_Nfe>
    </modules>   
    <default>
        <easynfe_nfe>
            <geral>
                <versao>2.00</versao>
            </geral>
        </easynfe_nfe>
    </default>

    <global>
        <template>
            <email>
                <easynfe_email translate="label" module="easynfe_nfe">
                    <label>EasyNFe Template</label>
                    <file>easynfe_email.html</file>
                    <type>html</type>
                </easynfe_email>
            </email>
        </template>
        <fieldsets>
            <sales_convert_quote_item>                           
                <nfe_ncm>
                    <to_order_item>*</to_order_item>
                </nfe_ncm>
                <nfe_ucom>
                    <to_order_item>*</to_order_item>
                </nfe_ucom>
                <nfe_orig>
                    <to_order_item>*</to_order_item>
                </nfe_orig>
            </sales_convert_quote_item>
            <sales_convert_order_item>    
                <nfe_ncm>
                    <to_quote_item>*</to_quote_item>                    
                    <to_shipment_item>*</to_shipment_item>
                </nfe_ncm>
                <nfe_ucom>
                    <to_quote_item>*</to_quote_item>                    
                    <to_shipment_item>*</to_shipment_item>
                </nfe_ucom>
                <nfe_orig>
                    <to_quote_item>*</to_quote_item>
                    <to_shipment_item>*</to_shipment_item>
                </nfe_orig>
            </sales_convert_order_item>
        </fieldsets>
        <models>
            <easynfe_nfe>
                <class>Easynfe_Nfe_Model</class>
                <resourceModel>easynfe_nfe_resource</resourceModel>                
            </easynfe_nfe>
            <easynfe_nfe_resource>
                <class>Easynfe_Nfe_Model_Resource</class>
                <entities>
                    <directory_country>
                        <table>nfe_directory_country</table>
                    </directory_country>
                    <directory_country_region>
                        <table>nfe_directory_country_region</table>
                    </directory_country_region>
                    <directory_country_region_city>
                        <table>nfe_directory_country_region_city</table>
                    </directory_country_region_city>
                    <sales_order>
                        <table>nfe_sales_order</table>
                    </sales_order>
                    <sales_order_nf>
                        <table>nfe_sales_order_nf</table>
                    </sales_order_nf>
                    <sales_order_request>
                        <table>nfe_sales_order_nf_request</table>
                    </sales_order_request>
                    <certificado>
                        <table>nfe_certificado</table>
                    </certificado>
                </entities>
            </easynfe_nfe_resource>                
        </models>
        <resources>
            <easynfe_nfe_setup>
                <setup>
                    <module>Easynfe_Nfe</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </easynfe_nfe_setup>
        </resources>
        <blocks>
            <easynfe_nfe>
                <class>Easynfe_Nfe_Block</class>
            </easynfe_nfe>
            <customer>
                <rewrite>
                    <account_dashboard_address>Easynfe_Nfe_Block_Customer_Account_Dashboard_Address</account_dashboard_address>
                    <address_book>Easynfe_Nfe_Block_Customer_Address_Book</address_book>
                </rewrite>
            </customer>
        </blocks>	            
        <helpers>
            <nfe>
                <class>Easynfe_Nfe_Helper</class>
            </nfe>
        </helpers>	
        <events>
            <customer_address_format>
               <observers>
                    <easynfe_nfe_address_format>
                        <type>singleton</type>
                        <class>Easynfe_Nfe_Model_Observer</class>
                        <method>formatAddress</method>
                    </easynfe_nfe_address_format>
                </observers>
            </customer_address_format>                
            <checkout_submit_all_after>
                <observers>
                    <easynfe_nfe_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>Easynfe_Nfe_Model_Observer</class>
                        <method>salesOrderSaveNf</method>
                    </easynfe_nfe_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>    
            <sales_quote_add_item>
                <observers>
                    <easynfe_nfe_sales_add_quote_item>
                        <type>singleton</type>
                        <class>easynfe_nfe/observer</class>
                        <method>salesQuoteAddItem</method>
                    </easynfe_nfe_sales_add_quote_item>
                </observers>
            </sales_quote_add_item>
        </events>
    </global>
    <frontend>
        <routers>
            <easynfe_nfe>
                <use>standard</use>
                <args>
                    <module>Easynfe_Nfe</module>
                    <frontName>nfe</frontName>
                </args>
            </easynfe_nfe>
        </routers>   
        <layout>
            <updates>
                <easynfe_nfe>
                    <file>easynfe_nfe.xml</file>
                </easynfe_nfe>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <nfe>
                <use>admin</use>
                <args>
                    <module>Easynfe_Nfe</module>
                    <frontName>nfe</frontName>
                </args>
            </nfe>
        </routers>
    </admin>
    
    <adminhtml>
        <translate>
            <modules>
                <Easynfe_Nfe>
                    <files>
                        <default>Easynfe_Nfe.csv</default>
                    </files>
                </Easynfe_Nfe>
            </modules>
        </translate>

        <layout>
            <updates>
                <easynfe_nfe>
                    <file>easynfe_nfe.xml</file>
                </easynfe_nfe>
            </updates>
        </layout>
        <events>           
            <sales_order_shipment_save_after>
                <observers>
                    <easynfe_nfe>
                        <type>singleton</type>
                        <class>easynfe_nfe/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </easynfe_nfe>
                </observers>
            </sales_order_shipment_save_after>   
            <core_block_abstract_to_html_after>
                <observers>
                    <easynfe_nfe_blocks>
                        <type>singleton</type>
                        <class>easynfe_nfe/observer</class>
                        <method>salesOrderNfeBlock</method>
                    </easynfe_nfe_blocks>
                </observers>
            </core_block_abstract_to_html_after>   
        </events>	
    </adminhtml> 
    <crontab>
        <jobs>
            <easynfe_nfe_process>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>easynfe_nfe/observer::nfeProcess</model>
                </run>
            </easynfe_nfe_process>
            <easynfe_nfe_create>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>easynfe_nfe/observer::updateInfo</model>
                </run>
            </easynfe_nfe_create>
        </jobs>
    </crontab>
</config>
